#fond{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}
.cadre{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    background-color: transparent;
    border-radius: 50px;
    padding-top: 1rem;
    padding-bottom: 3.4rem;
}
#fond h1{
    text-align: center;
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
.logo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80rem;
}
